<div class="filter">
    <div class="container">
        <div class="filter__inner">
            <div class="filter__title">
                Category:
            </div>
            <div class="filter__menu">
                <button (click)="onFilterClick('all')" class="filter__btn" [ngClass]="{'filter__btn--active': whatActive === 'all'}">All</button>
                <button (click)="onFilterClick('men')" class="filter__btn" [ngClass]="{'filter__btn--active': whatActive === 'men'}">Men's clothing</button>
                <button (click)="onFilterClick('women')" class="filter__btn" [ngClass]="{'filter__btn--active': whatActive === 'women'}">Women's clothing</button>
                <button (click)="onFilterClick('jewel')" class="filter__btn" [ngClass]="{'filter__btn--active': whatActive === 'jewel'}">Jewelry</button>
                <button (click)="onFilterClick('electro')" class="filter__btn" [ngClass]="{'filter__btn--active': whatActive === 'electro'}">Electronics</button>
            </div>
        </div>
    </div>
</div>