<div class="filter">
    <div class="container">
        <div class="filter__inner">
            <div class="filter__title">
                Category:
            </div>
            <div class="filter__menu">
                <button class="filter__btn">All</button>
                <button class="filter__btn">Men's clothing</button>
                <button class="filter__btn">Women's clothing</button>
                <button class="filter__btn">Jewelry</button>
                <button class="filter__btn">Electronics</button>
            </div>
        </div>
    </div>
</div>