<header class="header">
    <div class="container">
        <div class="header__inner">
            <h1 (click)="goHome()">MultiShop</h1>
            <div class="header__menu menu">
                <div class="menu__inner">
                    <button class="cart">
                        Cart
                    </button>
                    <button class="about">
                        About
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>