.cart-item {
    width: 380px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;

    .loading {
        margin: 0 auto;
    }
}

.cart-item__img {
    width: 100px;
    height: 80px;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.cart-item__title {
    width: 190px;
    padding: 0 10px;
    overflow: hidden;
}

.cart-item__price {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item__delete {
    width: 20px;
    text-align: end;

    span {
        cursor: pointer;
        line-height: 13px;

        &:hover {
            color: red;
        }
    }
}