<div class="products">
    <div class="container">
        <app-filter (filterClick)="onFilterClick($event)"></app-filter>
        <div class="products__inner">
            <div *ngFor="let item of filteredItems | slice: 0:shownItems" class="products__item fade-in">
                <app-product-card [item]="item"></app-product-card>
            </div>
        </div>
        <button *ngIf="shownItems <= filteredItems.length" (click)="showMore()" class="products__more">Show more</button>
    </div>
</div>
