<div class="proudct-page">
    <div class="container">
        <div class="product-page__inner">
            <div class="product-page__image">
                <img src="{{item.image}}" alt="product photo">
            </div>
            <div class="product-page__info">
                <h2 class="product-page__title">
                    {{item.title}}
                </h2>
                <div class="product-page__price">
                    {{item.price}} $
                </div>
                <div class="product-page__desc">
                    {{item.description}}
                </div>
            </div>
        </div>
    </div>
</div>