<div class="proudct-page">
    <div class="container">
        <div *ngIf="item.id !== -1" class="product-page__inner">
            <div class="product-page__image">
                <img class="fade-in" src="{{item.image}}" alt="product photo">
            </div>
            <div class="product-page__info">
                <h2 class="product-page__title">
                    {{item.title}}
                </h2>
                <div class="product-page__price">
                    {{item.price}} $
                </div>
                <div class="product-page__desc">
                    {{item.description}}
                </div>
                <button (click)="addToCart()" class="product-page__addCart">Add To Cart</button>
            </div>
        </div>
        <div *ngIf="item.id === -1" class="product-page__inner">
            <div class="lds-spinner loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>